$primary-color: #9356DC;
$secodary-color: #FF79DA;
$tertiary-color: #99E2D0;
$text-color: black;
$logo-font: Shrikhand, cursive;
$text-font: Roboto, sans-serif; 
$font-weights: (
    "light": 300,
    "regular": 400,
    "medium": 500,
    "bold": 700,
    "black": 900,
);